{% extends 'website/main.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    .custum-container body {
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
        margin-top: 25px;
    }
    .custum-container .container {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .custum-container .contact-info {
        width: 45%;
    }
    .custum-container .contact-info h2 {
        font-size: 18px;
        color: #000;
    }
    .custum-container .contact-info p {
        margin: 5px 0;
        font-size: 14px;
        color: #333;
    }
    .custum-container .contact-info p span {
        font-weight: bold;
    }
    .custum-container .contact-info p a {
        color: #333;
        text-decoration: none;
    }
    .custum-container .contact-info p a:hover {
        text-decoration: underline;
    }
    .custum-container .contact-form {
        width: 50%;
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 5px;
    }
    .custum-container .contact-form h2 {
        font-size: 18px;
        color: #ff6600;
        display: flex;
        align-items: center;
    }
    .custum-container .contact-form h2 i {
        margin-right: 10px;
    }
    .custum-container .contact-form input, .contact-form textarea {
        width: calc(50% - 10px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }
    .custum-container .contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="tel"] {
        width: calc(50% - 10px);
    }
    .custum-container .contact-form textarea {
        width: calc(100% - 20px);
        height: 100px;
    }
    .custum-container .contact-form button {
        background-color: #ff6600;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    .custum-container .contact-form button:hover {
        background-color: #e65c00;
    }
    .messages {
        color: black;
        background-color: yellow;
        align-items: center;
        text-align: center; /* Căn giữa nội dung */
        padding: 10px; /* Thêm khoảng cách bên trong */
        margin: 20px 0; /* Thêm khoảng cách bên ngoài */
    }

</style>
<div class="custum-container">
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container">

        <div class="contact-info">
            <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
            <p><i class="fas fa-angle-right"></i> VĂN LĨNH</p>
            <p><span>ĐỒ ÁN NGÀNH HỌC KỲ 3 NĂM 2023-2024 HỒ VĂN LĨNH</span></p>
            <p><span>Địa chỉ:</span> Gò Vấp, TP. Hồ Chí Minh</p>
            <p><span>Website:</span> <a href="https://www.facebook.com/profile.php?id=100028411531672">https://facebook.com/</a>
            </p>
            <p><span>Điện thoại:</span> 0974376442</p>
            <p><span>Email:</span> vanlinhlinhcang@gmail.com</p>
        </div>
        <div class="contact-form">
            <h2><i class="fas fa-envelope"></i> Gửi thông tin liên hệ đến chúng tôi</h2>
            <form method="POST" action="{% url 'submit_review' %}">
                {% csrf_token %}
                <input type="text" placeholder="HỒ VĂN LĨNH" value="HỒ VĂN LĨNH" readonly>
                <input type="text" name="name" placeholder="Nhập tên" value="">
                <input type="email" name="email" placeholder="Nhập email" value="">
                <input type="tel" name="phone_number" placeholder="Nhập số điện thoại" value="">
                <input type="text" name="title" placeholder="Nhập Tiêu đề" value="">
                <textarea name="content" placeholder="Nhập ghi chú"></textarea>
                <button type="submit">Gửi</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
