{% extends 'website/main.html' %}
{% block title %}Thanh toán thành công{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Thanh toán thành công</h2>
    <p>Cảm ơn bạn đã đặt vé, {{ customer_email }}!</p>
    <p>Dưới đây là thông tin đặt vé của bạn:</p>
    <ul>
        <li><strong>Booking ID:</strong> {{ booking.id }}</li>
        <li><strong>Chuyến đi:</strong> {{ booking.trip.id }}</li>
        <li><strong>Ghế đã đặt:</strong> {{ booking.seat.all|join:", " }}</li>
    </ul>
    <div>
        <h4>Mã QR của bạn:</h4>
        <img src="{{ qr_image_path }}" alt="QR Code" class="img-fluid">
    </div>
</div>
{% endblock %}
